<nav id="sidebar-icon-links">
  {% if site.footer-links.twitter %}
    <a id="twitter-link"
       class="icon" title="Twitter" aria-label="Twitter" target="_blank"
       href="https://twitter.com/{{ site.footer-links.twitter }}">
      {% include svg/twitter.svg %}
    </a>
  {% endif %}
  {% if site.footer-links.linkedin %}
    <a id="linkedin-link"
       class="icon" title="LinkedIn" aria-label="LinkedIn" target="_blank"
       href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}/">
      {% include svg/linkedin.svg %}
    </a>
  {% endif %}
  {% if site.footer-links.tableau %}
    <a id="tableau-link"
       class="icon" title="Tableau Public" aria-label="Tableau Public" target="_blank"
       href="https://public.tableau.com/profile/{{ site.footer-links.tableau }}#!/">
       {% include svg/tableau.svg %}
    </a>
  {% endif %}
  {% if site.footer-links.email %}
    <a id="email-link"
       class="icon" title="Email" aria-label="Email"
       href="mail-to:{{ site.footer-links.email }}/">
       {% include svg/email.svg %}
    </a>
  {% endif %}

  <a id="subscribe-link"
     class="icon" title="Subscribe" aria-label="Subscribe"
     href="{{ site.baseurl }}/{{ site.feed.path | default: 'feed.xml' }}">
    {% include svg/feed.svg %}
  </a>

  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% endif %}
  {% endfor %}

  {% if tags_page %}
    <a id="tags-link"
       class="icon{% if page.url == '/tags' %} active{% endif %}"
       title="Tags" aria-label="Tags"
       href="{{ site.baseurl }}{{ tags_page.url }}">
      {% include svg/tags.svg %}
    </a>
  {% endif %}

  {% include custom-icon-links.html %}
</nav>
